.container {
	margin-top: 50px;
}

h1 {
	text-align:    center;
	margin-bottom: 50px;
}

.input-group {
	margin-bottom: 30px;
	max-width:     50%;
}

.list-group .remove {
	opacity:       0;
	transition:    200ms all ease;
	border-radius: 50%;
	width:         20px;
	height:        20px;
	line-height:   1;
	text-align:    center;
	padding:       0;
}

.list-group-item {
	display:         flex;
	flex-flow:       row wrap;
	justify-content: space-between;
	align-items:     center;
}

.list-group-item:hover .remove {
	opacity: 1;
}

@media screen and (max-width: 991px) {
	.input-group {
		max-width: 100%;
	}
}

@media screen and (max-width: 575px) {
	.input-group .task {
		flex-basis:    100%;
		margin-bottom: 10px;
	}

	.input-group .input-group-append {
		margin: 0;
	}

	.input-group .input-group-append .add {
		border-radius: 0.25rem;
	}
}
